<% provide(:title, "Home Page") %>

<div class="mainCon">
<h1>Home</h1>

<%= image_tag("homepic.jpg", alt: "Welcome Logo", :class => "welcomeImage") %>    

<p>Welcome to Food For Thought, there is something for everyone...</p>

</br></br>

<h1>Cuisines</h1>

 <% @cuisines.each do |cuisine| %>
 
<div class="itemhol">
   
      
        <a href="/cuisine/<%= cuisine.title %>"><img src="/assets/<%= cuisine.image %>" alt="<%= cuisine.title %>" class="homeIm"></a>
        <h1><%= cuisine.title %></h1>
        <p><%= cuisine.description %></p>
        
</div>
<% end %>

</div>

