<header class="headSection">

      <h1>Food For Thought</h1>

        <ul id = "nav">
  
          <li><%= link_to "Home",  "/" %></li>
          
          <li><%= link_to "Recipes", "/recipes" %></li>
  
          <li><%= link_to "About", "/about" %></li>
          
          <li><%= link_to "Contact", "/contact" %></li>
          
          <% if user_signed_in? %>
                 <li><a href="/profile" ><%= current_user.username %>'s Profile</a></li>
                 <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
                 <li><%= link_to 'Register', new_user_registration_path %></li> 
                 <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>

        </ul>

</header>